body{
    margin:auto;
    padding: 0;
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;

}

.container{
    margin: auto;
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 15px;
    padding:10px;
}

.input-block{
    text-align: center;
}

.error{
    color: red;
    padding: 2px;
    display: none;
}

.white{
    border: 1px solid black;
}

.boxesBlock{
    height: 95%;
    width: 100%;
    display: flex;
}

.row{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
}

#block{
    flex: 1;
    border: 1px solid black;
}

.red-10{
    background-color: rgba(255, 255, 255, 0.1);
}
.red-20{
    background-color: rgba(255, 215, 215, 0.1);
}
.red-30{
    background-color: rgba(255, 175, 175, 0.2);
}
.red-40{
    background-color: rgb(255,150, 150, 30%);
}
.red-50{
    background-color: rgb(255,125, 125, 40%);
}
.red-60{
    background-color: rgb(255,100, 100, 50%);
}
.red-70{
    background-color: rgb(255,75, 75, 60%);
}
.red-80{
    background-color: rgb(255,50, 50, 70%);
}
.red-90{
    background-color: rgb(255,25, 25, 80%);
}
.red{
    background-color: rgb(255,000, 000, 90%);
}