.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: auto;
    height: 50vh;
    width: 50vh;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stop_block{
    display: flex;
    justify-content: center;
    margin: 5px ;
}